body {
    font-family: sans-serif;
    overflow: hidden;
}

.hero {
    background-image: url('/static/images/main_bg.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1; /* Ensure hero content is on top */
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 4.2rem;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.hero p {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: black;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.hero .btn-custom {
    margin-right: 10px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.2rem;
}

.hero .btn-custom:hover {
    background-color: rgba(0,0,0,0.7);
}

.nav-item {
    font-size: 1.1rem;
}

.navbar-brand img {
    max-width: 50px;
    max-height: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.music-note {
    font-size: 4rem;
    color: black;
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 0;
}

.note1 { bottom: 15%; left: 15%; animation: floatCircle1 15s infinite; }
.note2 { bottom: 8%; right: 5%; animation: floatCircle2 18s infinite; }
.note3 { top: 12%; left: 5%; animation: floatCircle3 20s infinite; }
.note4 { top: 6%; right: 17%; animation: floatCircle4 22s infinite; }
.note5 { top: 30%; right: 6%; animation: floatCircle5 25s infinite; }
.note6 { top: 60%; right: 22%; animation: floatCircle6 28s infinite; }
.note7 { bottom: 10%; right: 47%; animation: floatCircle7 30s infinite; }
.note8 { bottom: 45%; left: 8%; animation: floatCircle8 35s infinite; }
.note9 { top: 15%; left: 35%; animation: floatCircle9 40s infinite; }

@keyframes floatCircle1 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(100px, 100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle2 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-100px, 100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle3 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(100px, -100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle4 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-100px, -100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle5 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(80px, 80px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle6 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-80px, 80px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle7 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(120px, -120px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle8 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-120px, -120px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle9 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(90px, 90px); }
    100% { transform: translate(0, 0); }
}
