body {
    font-family: sans-serif;
    background-image: url('/static/images/main_bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 20px; 
    overflow: hidden; 
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    font-weight: bold;
}

.alert {
    margin-top: 15px;
}

.custom-container {
    background: rgba(71, 76, 78, 0.938);
    /* add/remove background for styling */
    padding: 20px;
    border-radius: 10px;
    color: white; 
    max-width: 800px;
    text-align: center;
    margin: 100px auto;
}

.container {
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    color: white; 
    max-width: 1000px;
    max-height: 800px;
    text-align: center;
    margin: 20px auto; 
}

h1, h2, h3, h4, h5, h6 {
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    color: black;
}

.text-white {
    color: #ffffff !important;
}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); 
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); 
}

.dash-page-h2 {
    font-size: 1.5rem !important;
    margin-bottom: 0px !important;
    font-weight: 300;
    color: black !important;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4) !important;
}

p{
    font-size: 1.1rem;
}

.feature {
    margin-bottom: 30px;
}

.feature-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container-day {
    margin-right: 72.5em !important;
}

.button-container-mood {
    margin-right: 71.5em !important;
}

.button-container-song {
    margin-right: 72em !important;
}

.button-container-saved {
    margin-right: 74em !important;
}

.btn-custom {
    margin: 5px 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
    display: inline-block;
}

.btn-custom:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.top-center-text-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 75px;
    color: white;
}

.text-header {
    margin-top: 50px;
}

.text-align-left {
    text-align: left;
    margin-left: 20px;
}

.text-align-center {
    text-align: center;
}

@media (max-width: 1440px) {
   .button-container-day {
    margin-right: 1100px;
    }
    .button-container-mood {
        margin-right: 1100px;
    }
    .button-container-song {
        margin-right: 1100px;
    }
    .button-container-saved {
        margin-right: 1100px;
    }
} 

/* Saved Songs Page Styles */
.saved-songs-header {
    text-align: center;
    margin-bottom: 20px;
}

.saved-songs-container {
    margin: 100px auto;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

/* Playlist Section */
.playlist-header {
    text-align: center;
    margin-bottom: 10px;
}

.playlist-item {
    color: black;
}

/* Song Section */
.song-header {
    text-align: center;
    margin-bottom: 10px;
}

.saved-song-item {
    color: black;
    text-align: center !important;
}

.saved-title {
    color: white !important;
}

.btn-success {
    margin-bottom: 10px; /* Space between Add to Playlist and Delete buttons */
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the buttons horizontally */
    margin-top: .1rem;
}

.btn-btm {
    margin-bottom: .8rem;
}
.mb-2 {
    margin-bottom: 0.5rem; /* Adjust this value to control the space below the dropdown */
}

.button-spacing {
    margin: .5rem;
    
}
/* Responsive Adjustments */
@media (max-width: 1440px) {
   .button-container-day {
    margin-right: 1100px;
}

.button-container-mood {
    margin-right: 1100px;
}

.button-container-song {
    margin-right: 1100px;
}

.button-container-saved {
    margin-right: 1100px;
}
}

.styled-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.scrollable-container {
    max-height: calc(100vh - 100px); 
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; 
    align-items: center;
}

.flash-messages {
    margin-bottom: 20px;
}

.songs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.song-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.album-cover {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.song-info {
    text-align: center;
}


.btn-primary {
    margin-top: 10px;
    background-color: #5cb5b8;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #5cb5b8;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

.un-pad {
    margin-bottom: 0px !important;
}

img {
    display: block;
    margin: 0 auto 10px;
}

label {
     font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
select {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #5cb5b8;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #5cb5b8;
}


.music-note {
    font-size: 4rem;
    color: black;
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 0;
}

.note1 { bottom: 23%; left: 10%; animation: floatCircle1 15s infinite; }
.note2 { bottom: 23%; right: 5%; animation: floatCircle2 18s infinite; }
.note3 { top: 20%; left: 8%; animation: floatCircle3 20s infinite; }
.note4 { top: 30%; right: 8%; animation: floatCircle4 22s infinite; }
.note5 { top: 40%; right: 28%; animation: floatCircle5 25s infinite; }
.note6 { bottom: 15%; right: 30%; animation: floatCircle6 28s infinite; }
.note7 { top: 15%; right: 25%; animation: floatCircle7 30s infinite; }
.note8 { bottom: 45%; left:15%; animation: floatCircle8 35s infinite; }
.note9 { top: 36%; left: 25%; animation: floatCircle9 40s infinite; }

@keyframes floatCircle1 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(100px, 100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle2 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-100px, 100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle3 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(100px, -100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle4 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-100px, -100px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle5 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(80px, 80px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle6 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-80px, 80px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle7 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(120px, -120px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle8 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-120px, -120px); }
    100% { transform: translate(0, 0); }
}

@keyframes floatCircle9 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(90px, 90px); }
    100% { transform: translate(0, 0); }
}
