body {
    font-family: sans-serif;
    background-image: url('/static/images/main_bg.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    font-weight: bold;
}

.alert {
    margin-top: 15px;
}

.container {
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    color: white; 
    max-width: 800px;
    text-align: center;
    margin: 100px auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); 
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0px;
    color: black;
}

p{
    font-size: 1.1rem;
}

.feature {
    margin-bottom: 30px;
}

.feature-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container-day {
    margin-right: 1430px;
}

.button-container-mood {
    margin-right: 1410px;
}

.button-container-song {
    margin-right: 1415px;
}

.button-container-saved {
    margin-right: 1455px;
}

.btn-custom {
    margin: 5px 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
    display: inline-block;
}

.btn-custom:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.top-center-text-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
    color: white;
}

.text-align-left {
    text-align: left;
    margin-left: 20px;
}

.text-align-center {
    text-align: center;
}
