{% extends "base.html" %}

{% block title %}Matching Songs{% endblock %}

{% block content %}
    <h1>Match the Day</h1>

    <h2>Matching Songs for {{ activity }} in {{ city }}</h2>
    <p>Weather: {{ weather_stats[0] }}°F, {{ weather_stats[1] }}</p>

    <ul>
        {% for key, song in songs.items() %}
            <li>{{ song['song_name'] }} by {{ song['artist_name'] }} from the album {{ song['album_name'] }}
            <br>
            <a href="{{ song['song_link'] }}" target="_blank">Listen on Spotify</a>
            <form action="{{ url_for('save_a_song') }}" method="POST">
              <input type="hidden" name="song_name" value="{{ song['song_name'] }}">
              <input type="hidden" name="artist_name" value="{{ song['artist_name'] }}">
              <input type="hidden" name="album_name" value="{{ song['album_name'] }}">
              <input type="hidden" name="song_link" value="{{ song['song_link'] }}">
              <button type="submit" class="btn btn-primary">Save Song</button>
            </form>
            </li>
        {% endfor %}
    </ul>

    <p>Query Words Used: {{ query_words }}</p>
    
    <a href="{{ url_for('match_the_day_info') }}">Change the parameters</a><br>
    <a href="{{ url_for('discover') }}">Change the feature</a><br>
    <a href="{{ url_for('saved_songs') }}">View Saved Songs</a><br>
    <a href="{{ url_for('dashboard') }}">Back to dashboard</a>
{% endblock %}
